{
  "env": {
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": 0,
    "curly": [0, "multi"],
    "no-use-before-define": [2, "nofunc"],
    "semi": [2, "never"]
  }
}
